<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>EXUpdatesCheckOnLaunch</key>
    <string>WIFI_ONLY</string>
    <key>EXUpdatesEnabled</key>
    <true/>
    <key>EXUpdatesLaunchWaitMs</key>
    <integer>20000</integer>
    <key>EXUpdatesURL</key>
    <string>https://u.expo.dev/009cf2cd-1186-4e6a-86cd-4fd7cc58e2c7</string>
    <key>EXUpdatesRuntimeVersion</key>
    <string>1.0.0</string>
  </dict>
</plist>